html,
body {
    background: var(--default);
    font-family: sans-serif;
}

h1 {
    color: var(--menu-text-color-dark-bg);
    text-align: center;
}

#gameBoard {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 5rem;
    width: 100%;
    height: 72vh;
}

.grid {
    display: grid;
    grid-template-rows: repeat(var(--gameRows), auto);
    grid-template-columns: repeat(var(--gameColumns), auto);
}

.gridBox {
    display: grid;
    place-items: center;

    border: 2px solid var(--empty);
    width: 40px;
    height: 40px;

    text-align: center;
    font-size: 1.8rem;
    color: var(--empty);
    text-transform: uppercase;

    cursor: pointer;
}

.gridBox.selected {
    background: var(--selected);
    color: var(--default);
}

.gridBox.found {
    background: var(--found);
    color: var(--default);
}

/* Generic styles */
/* Noselect: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.gridBox.debug-added-word {
    background: var(--highlight);
}